{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'css/buku.css' %}">
    <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Story 8</title>
</head>
<body>
    <div class="container">
        <form action="{% url 'story9:logout' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type='submit' class="btn btn-danger btn-lg" style="margin-top: 2em;" name='logout-btn'>Logout</button>
        </form>
        <h1 class="header-judul" id="header">Find Your Books</h1>
        <div class="display-3 mb-3 m">Hello,<b>{{name}}</b></div>
        <form class="search-form"  onsubmit="return cariBuku();" action="#">
            <input type="text" placeholder="Search Authors or Title " id="search">
            <button type="submit" id="button-search"><i class="fa fa-search"></i></button>
        </form>

        <table class="table table-bordered" style="margin: 3em;">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Cover</th>
            </tr>
            </thead>
            <tbody id='buku'>
                
            </tbody>

        </table>
    </div>
    <script src="{%static 'js/buku.js'%}"></script>
</body>
</html>