<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Sign In</title>
</head>

<body>
    <div class="container" style="transform: translateY(30%);">
        <div class="row" style="justify-content: center; align-items: center; display: flex; flex-direction: column; ">
            <div style="padding: 7em; border: 3px solid black;">
                <div class="display-3 text-center mb-4">Log In </div>
                <form action="{% url 'story9:login' %}" method="POST">
                    {% csrf_token %}
                    {% for error_message in error %}
                    <p style="font-size: 1.2em">*{{ error_message }}</p>
                    {% endfor %}
                    {% for fields in form %}
                    <div class="form-group">
                        <h5 class="text-center">{{ fields.label }}</h5>
                        {{ fields }}
                    </div>
                    {% endfor %}
                    {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="row justify-content-center mt-4">
                        <input type="submit" class="btn btn-success btn-lg col-5 mt-4" value='Login' name="login-btn">
                        <p class='col-7 mt-4'><a href="{% url 'story9:signup' %}" style="color: black; font-size: 1.2em;"> Doesn't Have an Account? </a> </p>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</body>

</html>