<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Sign Up | Story 9 </title>
</head>
<body>
    <div class="container" style="transform: translateY(30%);">
    <div class="row" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
        <div style="padding: 7em; border: 3px solid black;">
            <div class="display-3 mb-4 text-center">Sign Up</div>
                <form action="{% url 'story9:signup' %}" method="POST">
                    {% csrf_token %}
                    {% for fields in form %}
                    <div class="form-group">
                            {% for error in fields.errors %}
                                <p style="font-size: 1.2em">*{{ error }}</p>
                            {% endfor %}
                            <h5 class="text-center">{{ fields.label }}</h5>
                            {{ fields }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                    <input type="submit" value='Sign Up' class="btn btn-success btn-lg mb-4">
                </form>
        </div>
    </div>    
    </div>    
</body>
</html>