
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Status</title>
</head>
<body style="font-family: 'Raleway';">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h1 class="mb-4 mt-4"> My Profile</h1>
                <label class="switch">
                    <input type="checkbox" name='theme'>
                    <span class="slider"></span>
                </label>
                <p class="label-checkbox">Ubah Tema</p>
                <img src="{% static 'img/Foto Alfan.png' %}" class="foto-profile" alt="foto">
                <h3 class="mb-4">Alfan Lesmana Adhitia<h3>
                    <div id="jQuery-accordion">
                        <h3 name="accordion-header-1">Aktivitas</h3>
                        <div class="panel">
                            <p class="text-accordion" name='content-accordion-1'><b> VPIC Seminar Educare</b> <br> Mengurus Eduker bagian seminar bersama Syakir</p>
                        </div>
                        <h3 name="accordion-header-2">Pengalaman Organisasi/Kepanitiaan</h3>
                        <div class="panel">                            
                            <p class="text-accordion" name='content-accordion-2'> <b>Staff Seminar COMPFEST11</b> <br> Menghubungi pembicara serta moderator seminar 
                            <br> <br> <b> Staff Perlengkapan CGT</b> <br> Bantu-bantu nyiapin perlengkapan acara </p>
                        </div>
                        <h3 name ="accordion-header-3" >Prestasi</h3>
                        <div class="panel">
                            <p class="text-accordion" name='content-accordion-3'>Masih belum ada yang mebanggakan :(</p>
                        </div>
                    </div>
                
            </div>
                <div class="col-lg-6 col-xs-12">
                    <h1 name='header-utama' style="font-family: 'Roboto Mono', monospace;" class= 'mt-4 mb-4'>Halo,Apa Kabar?</h1>
                    <form method="POST"  class="mb-4 mt-4">

                        {% csrf_token %}
                        {% for field in form %}
                        {{field}}
                        {% endfor %}

                        <button type="submit" class="btn btn-success btn-lg mt-4" id='postbutton'>Post</button>
                    </form>
                    {% for i in semua_status %}

                    <h3> {{i.status_desc}} </h3>
                    <p>  {{i.waktu}} </p>

                    {% endfor %}

                </div>
            </div>
    </div>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>

</body>
</html>
