.table-bordered td, .table-bordered th{
    border: 3px solid #00B4CC;
}
thead{
    background: #66CCCC;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    font-size: 1.3em;
}
.header-judul{
    color: #8aa8ad; 
    font-size: 4em;
    text-align: center;
    font-weight: 600;
    margin: 1em;
}

* {
    box-sizing: border-box;
  }
  
  form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid #66CCCC;
    float: left;
    width: 60%;
  }
  
  form.search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #00B4CC;
    color: white;
    font-size: 17px;
    border: 3px solid #66CCCC;
    border-left: none;
    cursor: pointer;
  }
  
  form.search-form button:hover {
    background: #66CCff;
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }
  